<div class="row">
	<div class="span4">
		<%= simple_form_for([forem, :admin, @group], html: { class: "well"} ) do |f| %>
		  <%= f.input :name %>
		  <%= f.button :submit %>
		<% end %>
	</div>
</div>
