<% provide(:title, 'Rules') %>
<h1>Home#rules</h1>
<p>Find me in app/views/home/rules.html.erb</p>
<p>You can post anything as long as it's reasonable and within the confines of the law of both the country and gombe state.</p>
